//------------------------------------
//  Footer Nav Molecule
//------------------------------------
.footer-nav {
  a {
    @include link-style--invert();
    font-size: .75rem;
    font-weight: $font-weight--bold;
    text-decoration: none;
  }

  &__title {
    color: $white;
    font-size: 1rem;
    margin-bottom: $spacer--small;
    text-transform: uppercase;
  }

  &__list {
    @include reset-list();
  }

  &__list-item {
    @include reset-list();
  }
}
