//------------------------------------
//  Marketing Highlight Horizontal
//------------------------------------

.marketing-highlight-horizontal {
  overflow: hidden;

  @include breakpoint($bp-medium--up) {
    display: flex;
    flex-direction: row-reverse;
  }

  &__image {
    @include breakpoint($bp-medium--up) {
      width: 60%;
    }

    img {
      width: 100%;
    }
  }

  &__body {
    position: relative;
    width: $container-width;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10%;

    @include breakpoint($bp-medium--up) {
      // Position to sit on top and overlap the image.
      position: absolute;
      top: 0;
      left: $container-space;
      bottom: 0;
      width: 40%;
      margin: 0;

      // Vertically center the content.
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include breakpoint($bp-wide--up) {
      left: $container-space--lg;
    }
  }

  &__title {
    @include heading--secondary();
  }


  &__contents {
    padding: $spacer;
    background-color: $white;
  }
}
