//------------------------------------
//  Unit Header
//------------------------------------

.unit-header {
  background-color: $gray-10;
  padding-top: $spacer--small;
  padding-bottom: $spacer--small;
  font-weight: $font-weight--bold;
  font-size: .875rem;
}
