//------------------------------------
//  WYSIWYG Media Link
//------------------------------------

.media-link {
  @include link-style--reset();
  display: block;
  padding: $spacer;
  text-decoration: none;

  @include breakpoint($bp-medium--up) {
    display: flex;
  }

  &__figure {
    @include breakpoint($bp-medium--up) {
      width: 30%;
    }

    img {
      width: 100%;
    }
  }

  &__body {
    position: relative;
    width: $container-width;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10%;

    @include breakpoint($bp-medium--up) {
      // Position to sit on top and overlap the image.
      position: absolute;
      top: 0;
      right: $container-space;
      bottom: 0;
      width: 65%;
      margin: 0;

      // Vertically center the content.
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include breakpoint($bp-wide--up) {
      right: $container-space--lg;
    }
  }

  &__container {
    padding: $spacer;
    background-color: $white;
  }

  &:hover {
    background-color: $brand--primary-lightest;
  }
}

