//------------------------------------
//  Coloring
//------------------------------------

// Color states
.u-error {
  color: $brand--danger !important;
}

.u-success {
  color: $brand--success !important;
}

// Force a transparent background
.u-bg--transparent {
  background-color: transparent !important;
}

// Force the background to be Opaque
.u-bg--opaque {
  background-color: $white !important;
}
