//------------------------------------
//  Full Width
//------------------------------------

// Full Width Region to break outside of .l-container.
.l-full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
